<html>
  <%- include("templates/head.ejs"); %>
  <body>
    
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      <main>
        <div class="w3-bar w3-blue">
            <button class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=Brislington Depot';">Brislington Depot</button>
            <button class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=Parson Street School';">Parson Street School</button>
            <button class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=Wells Road';">Wells Road</button>
            <button class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=AURN St Pauls';">AURN St Pauls </button>
            <button class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=Colston Avenue';">C. Avenue</button>
            <button class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=fishponds road';">Fishponds Road </button>
            <button id="temple-way" class="w3-bar-item w3-button w3-ripple"
            onclick="location.href='higher.html?location=temple way';">Temple Way </button>
        </div>
        <!-- request.query.search -->
        <table style="text-align: center ;"> <caption> <b> The below table shows hourly Nitrogen Dioxide(NO2) records that are >= 100µg/m3.<i> Note: UK Goverment hourly limit is 200 µg/m3.</i></b></caption><body>
          <tr style="background-color:MediumSeaGreen;"><th style="padding: 1%;">Nitrogen Dioxide (NO2)</th><th style="padding: 1%;">Nitrogen Oxide (NOx)</th><th style="padding: 1%;">Nitric Oxide(NO)</th><th style="padding: 1%;">Location</th><th style="padding: 1%;">Date</th></tr>
          <% for (var i=0; i<rows.length; i++) { %>
          <tr>
            <td style="padding: 0.5%;"><%= rows[i].NO2 %></td>
            <td style="padding: 0.5%;"><%= rows[i].NOx %></td>
            <td style="padding: 0.5%;"><%= rows[i].NO %></td>
            <td style="padding: 0.5%;"><%= rows[i].Location %></td>
            <td style="padding: 0.5%;"><%= rows[i][`Date Time`] %></td>
          </tr>
          <% } %>
      </body></table>
      </main>
    </div>
  </body>
</html>