<html>
  <%# the < % - is raw output, to avoid escaping HTML %> 
  <%- include("templates/head.ejs"); %>
  <body>
    <audio controls autoplay>
      <source src="recording.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      
      <main>
        <div class="w3-bar w3-blue">
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=Brislington Depot';">Brislington Depot</button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=Parson Street School';">Parson Street School</button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=Wells Road';">Wells Road</button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=AURN St Pauls';">AURN St Pauls </button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=Colston Avenue';">C. Avenue</button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=fishponds road';">Fishponds Road </button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?location=temple way';">Temple Way </button>
        </div>
        <table style="text-align: center;"> <caption> <b> The below table shows hourly records of three types of pollution particles from several locations across Bristol taken on March 2021 </b></caption><body>
          <tr style="background-color:MediumSeaGreen;" ><th>Nitrogen Dioxide (NO2)</th><th style="padding: 1%;">Nitrogen Oxide (NOx)</th><th style="padding: 1%;">Nitric Oxide(NO)</th><th style="padding: 1%;">Location</th><th style="padding: 1%;">Date Time</th></tr>
          <% for (var i=0; i<rows.length; i++) { %>
          <tr>
            <td style="padding: 0.5%;"  ><%= rows[i].NO2 %></td>
            <td style="padding: 0.5%;"><%= rows[i].NOx %></td>
            <td style="padding: 0.5%;"><%= rows[i].NO %></td>
            <td style="padding: 0.5%;"><%= rows[i].Location %></td>
            <td style="padding: 0.5%;"><%= rows[i] [`Date Time`] %></td>
          </tr>
          <% } %>
      </body></table>
      </main>
    </div>
  </body>
</html>