<html>
  <%- include("templates/head.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      <main>
        <!-- request.query.search -->
        <table><body>
          <tr><th>Nitrogen Dioxide (NO2)</th><th>Nitrogen Oxide (NOx)</th><th>Nitric Oxide(NO)</th><th>Location</th><th>Date</th></tr>
          <% for (var i=0; i<rows.length; i++) { %>
          <tr>
            <td><%= rows[i].NO2 %></td>
            <td><%= rows[i].NOx %></td>
            <td><%= rows[i].NO %></td>
            <td><%= rows[i].Location %></td>
            <td><%= rows[i][`Date Time`] %></td>
          </tr>
          <% } %>
      </body></table>
      </main>
    </div>
  </body>
</html>