<html>
  <%- include("templates/head.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      <main>
        <!-- request.query.search -->
        <table style="text-align: center ;" ><caption> <b> The below table shows pollution records related to a location String </b></caption><body>
          <tr style="background-color:MediumSeaGreen;"><th style="padding: 1%;">Nitrogen Dioxide (NO2)</th><th style="padding: 1%;">Nitrogen Oxide (NOx)</th><th style="padding: 1%;">Nitric Oxide(NO)</th><th style="padding: 1%;">Location</th><th>Date</th></tr>
          <% for (var i=0; i<rows.length; i++) { %>
          <tr>
            <td style="padding: 0.5%;" ><%= rows[i].NO2 %></td>
            <td style="padding: 0.5%;"><%= rows[i].NOx %></td>
            <td style="padding: 0.5%;"><%= rows[i].NO %></td>
            <td style="padding: 0.5%;"><%= rows[i].Location %></td>
            <td style="padding: 0.5%;"><%= rows[i][`Date Time`] %></td>
          </tr>
          <% } %>
      </body></table>
      </main>
    </div>
  </body>
</html>